body {
    color: #4d4e53;
    background-color: #ffffff;
    font-size: 10px;
    font-family: 'Fira Sans Condensed', sans-serif, Arial;
    line-height: 1.5;
    margin: 0;
}

.container_0 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-sizing: border-box;
}

nav {
    font-size: 1.2rem;
    min-width: 290px;
    margin-top: 80px;
    overflow-y: auto;
    position: fixed;
    height: calc(100vh - 80px);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    border-top: 1px dashed #a7a7a7;
    transition-duration: 1s;
}

nav .nav-link {
    text-decoration: none;
    color: #4d4e53;
    transition-duration: 0.3s;
    display: block;
    padding: 10px 20px;
}

.main-section header {
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 400px;
}

main {
    font-size: 1.1rem;
    padding: 30px 30px;
    position: absolute;
    left: 290px;
}

h1 {
    font-size: 1.9rem;
    padding: 5px 20px;
    position: fixed;
    top: 0;
}

code {
    background-color: #dadada;
    color: #585858;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    display: block;
    margin: 10px 20px;
    padding: 15px;
}


/* hover */

nav .nav-link:hover {   
    color: #131175;
}

nav li:hover {
    background-color: #cfcdcd;
}


/* media query */

@media (max-width: 800px) {
    .container_0  {
        grid-template-columns: 290px auto; 
        
    }

    main {
      overflow: hidden;
      right: 0;
    }

}

@media (max-width: 600px) {
    .container_0  {
        grid-template-columns: 100%;
    }
    nav {
        position: relative;
        overflow: hidden;
        margin-top: 0;
        height: auto;
    }

    h1 {
        position: relative;
        margin-bottom: 0px;
    }

    main {
        position: relative;
        left: 0;
        padding: 20px 20px;
        border-top: 1px solid #909091;
    }

    .main-section {
        border-bottom: 1px dashed #909091;
        margin-bottom: 10px;
    }
}